{% load static %}

<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django Cinema</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>

<body>

<style>

  .content{
    background:rgb(91, 46, 102);
    margin: 0 auto;
    margin-top: 50px;
    width: 30%;
    padding: 50px;
    border: 1px solid #aaa;
    border-radius: 10px;
  }

  .btn-sucess{
    background-color: #fff;
    width: 100%;
  }

  .btn-sucess:hover{
    background-color: #fff;
  }

  h3{
    text-align: center;
    color: #fff;
    padding-bottom: 40px;
  }

  a{
    text-decoration: none;
  }

</style>

  <div class="content">
    
    <form action="{% url 'autenticacao:login' %}" method="post">

      <h3>Django Cinema</h3>

      {% csrf_token %}  
        
        {{ form.username }}
        {{ form.password }}

        <div class="row mb-4">
          <div class="col d-flex justify-content-center">
 
          
          </div>
    
        </div>
      
        <!-- Submit button -->
        <button type="submit" class="btn btn-sucess btn-block mb-4">Entrar</button>
      
        </div>
      </form>

  </div>

</body>

</html>